p {
    font-size: 10px;
    color: #FFD700;
}

body {
    color: #FFD700;
    background-image: url(../images/swbackground.jpg);
}

h3 {
    font-size: 20px;
    color: #FFD700;
    padding: 10px;
}

.container {
    padding: 10px;
    width: 960px;
}

h1 {
    text-align: center;
    color: #FFD700;
}

img {
    width: 100px;
    height: 200px;
    padding: 10px;
    border-width: 10px;
}

h5 {
    float: left;
}

#players-selection {
    float: left;
}

.attackBtn {
    background: transparent;
    color: #FFD700;
    border-color: #FFD700;
    width: 75px;
}
.charSection {
    width: 570px;
    height: 150px;
    margin: 60px 0 0 10px;
}
.enemiesSection {
    width: 570px;
    height: 150px;
    margin: 60px 0 0 10px;
}
.fightSection {
    width: 570px;
    height: 150px;
    margin: 60px 0 0 10px;
}