body {
    color: #FFD700;
    background-image: url(../images/swbackground.jpg);
    margin-left: 10px;
}
.section-titles {
    font-size: 20px;
    padding: 10px;
}
.main-section {
    font-size: 50px;
    text-align: center;
}
img {
    width: 125px;
    height: 150px;
    padding: 10px;
    border-width: 10px;
    border-radius: 5px;
    align-content: center;
}
.character {
    display: inline-block;
    border-style: solid;
    border-color: #FFD700;
    border-width: 3px;
    cursor: pointer;
    background-color: white;
}
.character-image {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.character-name {
    text-align: center;
}
.character-health {
    text-align: center;
}
#attack-button {
    color: #FFD700;
    background: transparent;
    
    
    align-content: center;
}
#star-title {
    text-align: center;
}